<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @client.business_name %>
</p>

<p>
  <strong>Business type:</strong>
  <%= @client.business_type %>
</p>

<p>
  <strong>Business address:</strong>
  <%= @client.business_address %>
</p>

<p>
	<strong>Subdomain Link </strong>
	
</p>	

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
